<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.secondbook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/book"
        android:label="计量二手书"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".FullScreenImageActivity" />
        <activity
            android:name=".BookDetailsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="adjustPan|stateVisible"></activity>
        <activity android:name=".UploadAndCollectionActivity" />
        <activity android:name=".SelectImageActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.secondbook.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:windowSoftInputMode="adjustPan|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
    </application>

</manifest>